<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/hearder.css" />
<link rel="icon" type="imge/x-ico" href="img/favicon.ico" />
<header>
  <div class="logo" data-hover="Shrink"><h1>Short linker</h1></div>
  <!-- todo moblie  -->
  <!-- <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
       fff<div class="line"></div> -->
  <nav class="nav">
    <ul>
      <li class="home"><a href="/">Home</a></li>
      <li class="an"><a href="#">Analytics</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
